<!-- EXTENDS ME TRAE LA PLANTILLA DE base.html -->
{% extends 'app/base.html' %}

<!-- LOAD ME PERMITE CARGAR IMAGENES ESTILOS Y JS -->
{% load static %}

<!-- BLOQUE DE JAVASCRIPT -->
{% block js %}

{% endblock %}

<!-- BLOQUE DE ESTILOS -->
{% block css %}

{% endblock %}

<!-- EXPORTAMOS EL BLOQUE DE CONTENDIO -->
{% block contenido %}

<form action="" class="formulario_contacto" method="post">
    <!--TOKEN DE SEGURIDAD, DEBE ESTAR PRESENTE PARA RESCATAR LOS DATOS-->
    {% csrf_token %}

    {{ form }}          
    <br>
    <button type="submit" id="btnEnviar" class="button">Enviar</button>
            
<
<!--revisa el error del mensaje problemas en el models con el views-->
</form>
{{ mensaje }}
{% endblock %}
<!-- TERMINO DEL BLOQUE -->